---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Declarative</title>
    </head>
    <body>
        <h1>Declarative</h1>
        <p>
            <a href="https://www.linkedin.com/in/amaschio/">Two</a>
            <a href="https://www.linkedin.com/in/mbavio/">friends</a> with 20 years
            in the tech industry get together to take good care of your technological
            problems.
        </p>
        <h2>Our Highlights</h2>
        <ul>
            <li>
                We built an esbuild based custom bundler in order to ship the
                least amount of JS and CSS for websites.
            </li>
            <li>
                We worked alogside designers and implemented custom design
                systems from scratch in multiple projects.
            </li>
            <li>
                We architected a headless Shopify based e-commerce website and
                led a 12 people team to deliver the project with a very tight
                schedule.
            </li>
        </ul>
        <h2>Things that happened while we were around</h2>
        <ul>
            <li>Napster hooks the world on digital music</li>
            <li>Social networks take off</li>
            <li>The iPhone got invented</li>
            <li>The Existence Of The Higgs Boson Confirmed</li>
            <li>Silicon Valley became a successful TV show</li>
            <li>Electric cars were invented</li>
            <li>Edward Snowden reveals NSA surveillance</li>
            <li>#MeToo movement</li>
            <li>Facebook became a movie</li>
            <li>Streaming becomes mainstream</li>
            <li>Bitcoin was invented</li>
            <li>ChatGPT was predicted by a movie</li>
            <li>Y Combinator changes how startups start up</li>
            <li>Amazon Web Services powers the web</li>
        </ul>
    </body>
</html>
